@import 'scss/dimensions.scss';

.account-header {
    padding: $default-padding;

    > span {
        margin-left: $default-padding;
    }

    .filter-menu-toggle {
        float: right;

        .fa-chevron-down,
        .fa-chevron-left {
            width: $bigger-icon-size;
        }
    }
}