@import 'scss/colors.scss';
@import 'scss/dimensions.scss';
@import 'scss/z-order.scss';

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.fa:not(.non-clickable) {
	cursor: pointer;
}

.view {
    position: relative;

	height: 100%;

	padding-top: $header-height;
	padding-bottom: $footer-height;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	background-color: $light-grey;

	.header {
        position: fixed;
        top: 0;

        height: $header-height;

        background-color: $dark-blue;
        color: $white;

        font-size: $header-title-size;
        font-weight: bold;

        z-index: $z-header-footer;
    }

    .footer {
        position: fixed;
        bottom: 0;

        height: $footer-height;
        width: 100%;

        z-index: $z-header-footer;

        pointer-events: none;
        > * {
            pointer-events: auto;
        }
    }
}