//http://www.colorcombos.com/color-schemes/23/ColorCombo23.html

$backlight: #f0f0f0;

$white: #ffffff;
$black: #000000;

$dark-blue: #003399;
$middle-blue: #3366cc;
$light-blue: #6699ff;

$dark-grey: #a7a7a7;
$darkish-grey: #cccccc;
$middle-grey: #d5d5d5;
$light-grey: #e6e6e6;
$lighter-grey: #efefef;

$model-target-opacity: 0.5;
$modal-backdrop-start: rgba(230, 230, 230, 0);
$modal-backdrop-stop: rgba(230, 230, 230, $model-target-opacity);

$success-green: #a5cf35;
$error-red: #c44b4b;