$app-break-point-small: 320px;

$default-font-size: 14px;
$default-padding: 12px;

$header-height: 50px;
$footer-height: 50 + 2 * $default-padding;

$header-title-size: 20px;

$sidebar-width: 320px;

$border-radius: 8px;
$button-size: 48px;

$button-font-size: 20px;

$default-icon-size: 16px;
$bigger-icon-size: 20px;

$dropdown-display-size: 18px;
$dropdown-item-size: 16px;

$item-title-size: 18px;
$item-amount-size: 14px;

$default-transition: 0.5s ease all;
$slow-transition: 1s ease all;
$linear-transition: 0.5s linear all;

$filter-item-padding: 8px;

$foldout-animation-time: 0.5s; // Should match ng-animation-foldout.FOLDOUT_ANIMATION_DURATION

$input-wrapper-title-size: 12px;
$input-wrapper-animation-duration: 0.3s;

$keyboard-height: 200px;