$app-size: 640px;
$app-margin: 12px;

$header-height: 50px;
$footer-height: 50px;

$header-title-size: 20px;

$border-radius: 8px;
$default-padding: 12px;
$button-size: 48px;

$button-font-size: 20px;

$dropdown-item-size: 16px;

$item-title-size: 18px;