@import 'scss/dimensions.scss';
@import 'scss/colors.scss';

.date-input {
    display: inline-block;
    width: 100%;

    .date-input-field {
        cursor: pointer;

        display: flex;
        flex-direction: row;

		&.focus {
			text-input .input-wrapper .input-wrapper-body input {
				border-color: $middle-blue;
			}
		}

        text-input {
            flex-grow: 1;

            .input-wrapper .input-wrapper-body input {
                border-radius: $border-radius 0 0 $border-radius;

                background-color: $white;
            }
        }

        .date-input-button {
            width: $bigger-icon-size + 2 * $default-padding;

            background-color: $dark-blue;
            color: $white;

            border-radius: 0 $border-radius $border-radius 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

	.date-input-calendar {
		date-picker {
	    	width: 100%;
	    }
	}
}