@import 'scss/dimensions.scss';
@import 'scss/colors.scss';

.text-input-box {
	width: 100%;
	display: inline-block;

	position: relative;

	cursor: pointer;

	&.focus,
	&.not-empty {
		.text-input-title {
			font-size: $text-input-title-size;
		}

		textarea {
			padding-top: $default-padding + $text-input-title-size + $default-padding / 2;
		}
	}

	.text-input-title {
		pointer-events: none;

		color: $dark-grey;

		position: absolute;
		top: $default-padding;
		left: $default-padding;

		transition: font-size $text-input-animation-duration linear;
	}

	textarea {
		width: 100%;
		resize: none;

		border: 1px solid $darkish-grey;
		border-radius: $border-radius;

		padding: $default-padding;
		padding-top: $default-padding;

		font-family: inherit;
		font-size: inherit;

		&:focus {
			outline: none;

			border-color: $middle-blue;
		}

		&.required {
			border-color: $error-red;
		}

		transition: padding-top $text-input-animation-duration linear;
	}
}