<!doctype html>
<html ng-app="plunker">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Plunker</title>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		
		<script>
			var app = angular.module('plunker', []);

			app.run(['$document', '$rootScope', function($document, $rootScope) {
				console.log('run');
				
				$document.on('click', function() {
					$rootScope.$broadcast('document-click');
				});
			}]);

            app.controller('AccountController', ['$scope', 'AccountService', function($scope, AccountService) {
                var ctrl = this;

                $scope.$watch('accountCtrl.selectedAccount', function(value, oldValue) {
                    if (value && value !== oldValue) {
                        AccountService.getExpenses(value).then(function(expenses) {
                            ctrl.expenses = expenses
                        });
                    }
                });

                ctrl.deleteExpense = function(expense) {
                    var idx = ctrl.expenses.indexOf(expense);

                    if (idx !== -1) {
                        ctrl.expenses.splice(idx, 1);
                    }
                };
            }]);
		</script>
		
		<script src="services/account/AccountService.js"></script>
		
		<script src="components/account-dropdown/account-dropdown.js"></script>
		<script src="components/on-long-click/on-long-click.js"></script>
		<script src="components/on-swipe-right/on-swipe-right.js"></script>
        <script src="components/expense-item/expense-item.js"></script>
		<script src="components/add-expense-button/add-expense-button.js"></script>
	</head>

	<body>
        <div class="main">
            <div class="view">
                <div ng-controller="AccountController as accountCtrl">
					<div class="header">
						<account-dropdown ng-model="accountCtrl.selectedAccount"></account-dropdown>
					</div>

                    <expense-item ng-repeat="expense in accountCtrl.expenses" ng-model="expense"></expense-item>

					<div class="footer">
						<add-expense-button></add-expense-button>
					</div>
                </div>
            </div>
        </div>
	</body>
</html>