@import 'scss/colors.scss';
@import 'scss/dimensions.scss';

$date-picker-table-header-size: 14px;

table.date-picker-table {
    width: 100%;

    border-collapse: collapse;
    width: calc(100% - 1px);

    th {
        background-color: $middle-blue;
        color: $white;

        padding: $default-padding;

        font-size: $date-picker-table-header-size;
        font-weight: bold;
    }

    td {
        padding: $default-padding;

        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        &.prev-month,
        &.next-month {
            color: $darkish-grey;
        }

        .is-selected {
            background-color: $middle-blue;
            color: $white;

            border-radius: $border-radius;
        }

        /*
        // would be new pattern -> don't use
        &:hover {
            background-color: $middle-blue;
            color: $white;

            border-radius: $border-radius;
        }
        */
    }
}