@import 'scss/colors.scss';
@import 'scss/dimensions.scss';

$filter-item-padding: 8px;

.category-filter {
    padding: $default-padding;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .category-filter-item {
        background-color: $white;
        color: $dark-grey;

        padding: $filter-item-padding $filter-item-padding * 1.5;
        border-radius: $filter-item-padding * 2;

        margin-right: $default-padding;
        margin-top: $default-padding / 2;

        -webkit-user-select: none;
        cursor: pointer;

        &.selected {
            background-color: $light-blue;
            color: $white;
        }

        &:not(.selected) {
            background-color: $middle-grey;
        }

        .fa-times,
        .fa-check {
            position: relative;

            top: 1px;
            right: -$filter-item-padding / 2;

            width: $default-icon-size;
        }
    }
}