@import 'scss/dimensions.scss';
@import 'scss/colors.scss';
@import 'scss/z-order.scss';

.modal-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	z-index: $z-modal;

	.modal-backdrop {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		background-color: $lighter-grey;
	}

	.modal-container {
		height: 100%;
        max-width: $app-max-size;

        margin: auto;
        padding: $app-margin 0;

		display: flex;
		align-items: center;

		position: relative;
		z-index: 1;

		.modal-body {
			flex-grow: 1;

			border-radius: $border-radius;

			display: flex;
			flex-direction: column;
			max-height: 100%;

			.modal-header {
				border-radius: $border-radius $border-radius 0 0;

				background-color: $dark-blue;
				color: $white;

				padding: $default-padding;

				font-size: $header-title-size;
				font-weight: bold;

				min-height: $header-title-size + 2 * $default-padding + 2 + 1;
			}

			.modal-content {
				flex-grow: 1;
				overflow-y: auto;

				padding: $default-padding;

				background-color: $light-grey;

				&:last-child {
					border-radius: 0 0 $border-radius $border-radius;
				}
			}

			.modal-footer {
				padding: $default-padding;

				border-top: 1px solid $darkish-grey;
				border-radius: 0 0 $border-radius $border-radius;

				background-color: $light-grey;

				display: flex;
				flex-direction: row-reverse;
				align-items: right;

				min-height: $default-font-size + 2 * $default-padding + 2 + 2 * $default-padding + 2 + 1;

				.modal-button {
					cursor: pointer;

					margin-left: $default-padding;
					padding: $default-padding;

					border-radius: $border-radius;

					&.primary-action {
						background-color: $dark-blue;
						color: $white;
					}

					&:not(.primary-action) {
						background-color: $darkish-grey;
					}
				}
			}
		}
	}
}