@import 'scss/dimensions.scss';
@import 'scss/z-order.scss';
@import 'scss/colors.scss';

.account-dropdown {
	.account-dropdown-display {
	    background-color: $middle-blue;
	    color: $white;

	    font-size: $dropdown-display-size;
	    font-weight: bold;

		padding: $default-padding;

		cursor: pointer;
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        .account-dropdown-selection {
            flex-grow: 1;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;

            margin-right: $default-padding;
        }
		
		.account-dropdown-toggle {
			width: $bigger-icon-size;
			text-align: center;
		}
	}

	.account-dropdown-foldout {
		background-color: $light-blue;
		color: $white;

		border-radius: 0 0 $border-radius $border-radius;
		
		.account-dropdown-item {
			padding: $default-padding;

			font-size: $dropdown-item-size;

			cursor: pointer;
			
			&:hover {
				background-color: $middle-blue;
			}
			
			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
			}
		}
	}
}