@import 'scss/dimensions.scss';
@import 'scss/z-order.scss';
@import 'scss/colors.scss';

.account-dropdown {
	position: relative;
	
	.account-dropdown-display {
	    background-color: $middle-blue;
	    color: $white;

	    font-size: $dropdown-display-size;
	    font-weight: bold;

		padding: $default-padding;
		
		.account-dropdown-toggle {
			float: right;
			width: $default-icon-size;
		}
	}

	.account-dropdown-foldout {
		background-color: $light-blue;
		color: $white;
		
		.account-dropdown-item {
			padding: $default-padding;

			font-size: $dropdown-item-size;

			cursor: pointer;
			
			&:hover {
				background-color: $middle-blue;
			}
			
			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
			}
		}
	}
}