<div class="input-wrapper" ng-class="{ 'not-empty': inputCtrl.inputModel || inputCtrl.tags.length > 0 }" ng-click="inputCtrl.onFocus()">
	<div class="input-wrapper-title">{{ inputCtrl.title }}</div>

	<div class="input-wrapper-body">
		<div class="tag-input" ng-class="{ 'has-tags': inputCtrl.tags.length > 0 }">
			<div class="tag-list-item" ng-repeat="tag in inputCtrl.tags">
				{{ tag }}
				<i class="fa fa-times" ng-click="inputCtrl.onRemoveTag($index, $event)"></i>
			</div>

			<input
				size="1"
				ng-disabled="inputCtrl.disabled"
				ng-model="inputCtrl.inputModel"
				ng-change="inputCtrl.onChange(inputCtrl.inputModel)"
				ng-trim="false"
				ng-blur="inputCtrl.onBlur()"
			/>
		</div>
	</div>
</div>