@import "scss/dimensions.scss";
@import "scss/colors.scss";

$circle-size: $default-icon-size + $default-padding / 2;

.tag-input {
	background-color: $white;

	border: 1px solid $darkish-grey;
	border-radius: $border-radius;

	min-height: $circle-size + $default-padding / 2 * 2 + 2 + 2;

	padding: 0 $default-padding;

	&.has-tags {
		padding-bottom: $default-padding - ($default-padding / 2); // - the margin-bottom of the .tag-list-item

		input {
			margin-bottom: $default-padding - ($default-padding / 2);
		}
	}

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.tag-list-item {
		color: $white;
		background-color: $light-blue;

		border: 1px solid $light-blue;
		border-radius: $circle-size;

		padding-left: $default-padding;

		margin-right: $default-padding / 2;
		margin-bottom: $default-padding / 2;

		height: $circle-size + 2; // for border

		white-space: nowrap;

		.fa-times {
			color: $white;
			background-color: $middle-blue;

			text-align: center;

			width: $circle-size;
			height: $circle-size;

			border-radius: $circle-size;

			padding-top: 2px; // TODO: a bit of a hack

			margin-left: $default-padding / 2;

			&:hover {
				background-color: $dark-blue;
			}
		}
	}

	input {
		padding: 0;
		flex-grow: 1;

		border: none;

		&:focus {
			outline: none;
		}
	}
}

.input-wrapper.focus .tag-input {
	border-color: $middle-blue;
}