<div class="analysis-block">
	<div class="analysis-block-header" ng-click="analysisCtrl.onContentToggle()">
		Analysis

		<div class="analysis-block-toggle">
			<i class="fa" ng-class="{ 'fa-chevron-down': !analysisCtrl.showContent, 'fa-chevron-left': analysisCtrl.showContent }"></i>
		</div>
	</div>

	<div class="analysis-block-content foldout-animation" ng-if="analysisCtrl.showContent">
		<div class="analysis-block-options">
			<date-input title="Start Date" ng-model="analysisCtrl.startDate"></date-input>
			<date-input title="End Date" ng-model="analysisCtrl.endDate"></date-input>
		</div>

		<div class="analysis-block-chart" ng-style="{ height: analysisCtrl.getChartContainerHeight() }"></div>
	</div>
</div>