<div class="analysis-block">
	<div class="analysis-block-header" ng-click="analysisCtrl.onContentToggle()">
		Analysis

		<div class="analysis-block-toggle">
			<i class="fa" ng-class="{ 'fa-chevron-down': !analysisCtrl.showContent, 'fa-chevron-left': analysisCtrl.showContent }"></i>
		</div>
	</div>

	<div class="analysis-block-content foldout-animation" ng-if="analysisCtrl.showContent">
		<date-block-option
				date-start="analysisCtrl.dateStart"
				date-end="analysisCtrl.dateEnd"
				on-change-start="analysisCtrl.buildChart()"
				on-change-end="analysisCtrl.buildChart()"
		></date-block-option>

		<div class="analysis-block-chart" ng-style="{ height: analysisCtrl.getChartContainerHeight() }"></div>
	</div>
</div>