@import 'scss/colors.scss';
@import 'scss/dimensions.scss';

.analysis-block {
	.analysis-block-header {
		cursor: pointer;

		background-color: $middle-blue;
		color: $white;

		font-size: $item-title-size;
		font-weight: bold;

		padding: $default-padding;

		.analysis-block-toggle {
			width: $bigger-icon-size;
			text-align: center;

			float: right;
		}
	}

	.analysis-block-content {
		padding: $default-padding;

		.chart-legend {
			text-align: center;

			.chart-legend-content {
				display: inline-block;
				text-align: left;

				.chart-legend-label {
					cursor: pointer;

					padding: $default-padding;

					.chart-legend-label-icon {
						display: inline-block;

						width: $default-icon-size;
						height: $default-icon-size;

						margin-right: $default-padding;

						vertical-align: middle;
						position: relative;
						top: -1px; // magic
					}
				}
			}
		}
	}
}