<div class="expense-input-mask">
	<div class="expense-input-field">
		<dropdown-input ng-model="inputMaskCtrl.categoryId" options="inputMaskCtrl.categories" placeholder="-- Category --"></dropdown-input>
	</div>

	<div class="expense-input-field">
		<text-input ng-model="inputMaskCtrl.amount" type="number" title="Amount"></text-input>
	</div>

	<div class="expense-input-field">
		<text-input-box ng-model="inputMaskCtrl.description" rows="3" title="Description"></text-input-box>
	</div>

	<div class="expense-input-field">
		<text-input ng-model="inputMaskCtrl.dateModel" type="text" ng-disabled="true" title="Date"></text-input>
		<date-picker ng-model="inputMaskCtrl.date"></date-picker>
	</div>
</div>