<div class="balance-block">
	<div class="balance-block-header" ng-class="{ 'is-new': blockCtrl.model.isNew }" on-long-click="blockCtrl.onEdit()" ng-click="blockCtrl.onContentToggle()">
		<div class="balance-block-title">
			<span ng-if="blockCtrl.model.date">{{blockCtrl.model.date | date }}</span>
			<span ng-if="!blockCtrl.model.date">Newest</span>
		</div>

		<div class="balance-block-amount">
			<span ng-if="blockCtrl.model.amount">{{ blockCtrl.model.amount | number : 2 }} CHF</span>
		</div>

		<div class="balance-block-toggle">
			<i class="fa" ng-class="{ 'fa-chevron-down': !blockCtrl.showContent, 'fa-chevron-left': blockCtrl.showContent }"></i>
		</div>
	</div>

	<!-- TODO: maybe not transclude? -->
	<div class="foldout-animation" ng-if="blockCtrl.showContent" ng-transclude></div>
</div>