@import 'scss/dimensions.scss';
@import 'scss/z-order.scss';
@import 'scss/colors.scss';

.dropdown-input {
	.dropdown-input-display {
	    background-color: $middle-blue;
	    color: $white;

		padding: $default-padding;

		border-radius: $border-radius $border-radius 0 0;

		&:not(.dropdown-input-foldout-open) {
			border-radius: $border-radius;
			transition-delay: $foldout-animation-time;
		}

		cursor: pointer;
		
		.dropdown-input-toggle {
			float: right;
			width: $default-icon-size;
			text-align: center;
		}
	}

	.dropdown-input-foldout {
		background-color: $light-blue;
		color: $white;

		border-radius: 0 0 $border-radius $border-radius;
		
		.dropdown-input-option {
			padding: $default-padding;

			cursor: pointer;
			
			&:hover {
				background-color: $middle-blue;
			}
			
			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
			}
		}
	}
}