@import 'scss/dimensions.scss';

$expense-filter-max-height: 500px; // FIXME find something better :/

.expense-filter {
    height: auto;

    &.ng-hide-remove {
        max-height: 0;
        transition: $slow-transition;
    }

    &.ng-hide-remove-active {
        max-height: $expense-filter-max-height;
    }

    &.ng-hide-add {
        max-height: $expense-filter-max-height;
        transition: $slow-transition;
    }

    &.ng-hide-add-active {
        max-height: 0;
    }
}