@import 'scss/dimensions.scss';
@import 'scss/z-order.scss';
@import 'scss/colors.scss';

.app-sidebar {
    position: fixed;

    top: $header-height;
    bottom: 0;

    z-index: $z-sidebar;

    overflow-x: hidden;
    border-radius: 0 0 0 $border-radius;

    width: $sidebar-width;

    .app-sidebar-content {
        position: absolute;

        height: 100%;

        width: 100%;
        max-width: $sidebar-width;

        background-color: $dark-blue;

        .app-sidebar-item {
        	display: block;

        	padding: $default-padding;
        	text-decoration: none;

        	color: $white;

        	&:active,
        	&:visited {
        		color: $white;
        	}

        	&:hover:not(.is-active) {
        		background-color: $light-blue;
        	}

        	&.is-active {
        		background-color: $middle-blue;
        	}
        }
    }

    &.ng-hide-remove {
        width: 0;
        transition: $default-transition;

        .app-sidebar-content {
            left: -$sidebar-width;
            transition: $default-transition;
        }
    }

    &.ng-hide-remove-active {
        width: $sidebar-width;

        .app-sidebar-content {
            left: 0;
        }
    }

    &.ng-hide-add {
        width: $sidebar-width;
        transition: $default-transition;

        .app-sidebar-content {
            left: 0;
            transition: $default-transition;
        }
    }

    &.ng-hide-add-active {
        width: 0;

        .app-sidebar-content {
            left: -$sidebar-width;
        }
    }
}