<div class="expense-input-mask">
	<div class="expense-input-field category">
		<dropdown-input ng-model="inputMaskCtrl.categoryId" options="inputMaskCtrl.categories" placeholder="-- Category --"></dropdown-input>
	</div>

	<div class="expense-input-field title">
		<text-input ng-model="inputMaskCtrl.title" title="Title"></text-input>
	</div>

	<div class="expense-input-field amount">
		<number-input ng-model="inputMaskCtrl.amount" title="Amount"></number-input>
	</div>

	<div class="expense-input-field description">
		<text-input-box ng-model="inputMaskCtrl.description" rows="3" title="Description"></text-input-box>
	</div>

	<div class="expense-input-field date">
		<date-input ng-model="inputMaskCtrl.date" title="Date"></date-input>
	</div>
</div>