@import 'scss/z-order.scss';
@import 'scss/colors.scss';
@import 'scss/dimensions.scss';

expense-item {
	&:nth-of-type(even) .expense-item-body {
		background-color: $light-grey;
	}

	&:nth-of-type(odd) .expense-item-body {
		background-color: $middle-grey;
	}

	&:last-child {
		.expense-item-background,
		.expense-item-body {
			border-radius: 0 0 $border-radius $border-radius;
		}
	}
}

.expense-item {
	position: relative;
	width: 100%;

	.expense-item-background {
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;

		background-color: $lighter-grey;
		color: $middle-grey;

		padding: $default-padding;

		display: flex;
		align-items: center;
	}

	.expense-item-body {
		position: relative;
		left: 0;
		right: 0;

		cursor: pointer;

		z-index: $z-expense-item;

		.expense-item-display {
			&.is-new {
				background-color: $success-green;
			}

			padding: $default-padding;

			font-size: $item-title-size;
			font-weight: bold;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.expense-item-title {
				flex-grow: 1;

				white-space: nowrap;
				text-overflow: ellipsis;
				overflow-x: hidden;

				margin-right: $default-padding;
			}

			.expense-item-amount {
				text-align: right;
				white-space: nowrap;

				font-size: $item-amount-size;
				color: $dark-grey;

				margin-right: $default-padding;
				padding-top: 1px; // MAGIC
			}

			@media screen and (max-width: $app-break-point-small) {
				.expense-item-amount {
					display: none;
				}
			}

			.expense-item-toggle {
				width: $bigger-icon-size;
				text-align: center;
			}
		}

		.expense-item-detail {
			padding: $default-padding;

			.kvp-table {
				color: $dark-grey;
				width: 66%;

				padding: $default-padding 0;

				> div > div {
					white-space: nowrap;

					&:nth-child(2) {
						text-align: right;
					}
				}
			}
		}
	}
}