<div class="expense-item">
	<div class="expense-item-background">
		<div>
			<i class="fa fa-times"></i>
			Delete
		</div>
	</div>
	<div class="expense-item-body" on-swipe="expenseItemCtrl.accountCtrl.deleteExpense(expenseItemCtrl.model)" swipe-direction="right">
		<div class="expense-item-display">
			<div class="expense-item-title">{{ expenseItemCtrl.model.description }}</div>
			<div class="expense-item-amount">({{ expenseItemCtrl.model.amount | number }} CHF)</div>

			<div class="expense-item-toggle" ng-click="expenseItemCtrl.toggleDetail()">
				<i class="fa" ng-class="{ 'fa-plus': !expenseItemCtrl.showDetail, 'fa-minus': expenseItemCtrl.showDetail }"></i>
			</div>
		</div>

		<!--
			FIXME: the animation fails for automatic target-height
			the chart is not ready when it starts
			this could be fixed by using ng-show (but that makes the whole page slow)
			the target-height attribute is a work-around-hack
		-->
		<div class="expense-item-detail foldout-animation" animation-time="300" target-height="600" ng-if="expenseItemCtrl.showDetail">
			<expense-progress-chart ng-model="expenseItemCtrl.model"></expense-progress-chart>

			<div class="kvp-table">
				<div>
					<div>Date</div>
					<div>{{ expenseItemCtrl.model.date | date }}</div>
				</div>
				<div>
					<div>Amount</div>
					<div>{{ expenseItemCtrl.model.amount | number }} CHF</div>
				</div>
				<div>
					<div>New Balance</div>
					<div>{{ expenseItemCtrl.model.currentBalance | number }} CHF</div>
				</div>
			</div>
		</div>
	</div>
</div>